@font-face{
    font-family: 'Moniker-Bold';
    src: local('Fonts/Moniker-Bold.ttf');
}
@font-face {
    font-family: 'Moniker';
    src: url('file:./Fonts/Moniker-Regular.ttf') format('truetype');
}
html {
    background-color: #1F2937;
}
body {
    font-family: 'Moniker';
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100vh;
    padding: 0 200px;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin-left: 27px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    cursor: zoom-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    font-size: 36px;
    padding: 16px;
}

.header .logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.header .links {
    font-size: 18px;
    color: #E5E7EB;
}
.footer{
    color: #F9FAF8;
    font-size: 18px;
    padding: 16px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.copyright {
    display: flex;
    justify-content: center;
    width: 18px;
    border-color: #F9FAF8;
    border: 2px;
    border-radius: 18px;
}

.body {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section1 {
    display: flex;
    flex: auto;
    justify-content: center;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex:auto;
    margin-right: 28px;
}
.info-header{
    color: #E5E7EB;
    font-size: 36px;
    font-weight: bold;
}

.image {
    display: flex;
    background-color: #9b9c9c;
    color: #E5E7EB;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 700px;
}