@font-face {
    font-family: 'Moniker';
    src: local('Moniker'),
         url('../Fonts/Moniker-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Moniker';
    src: local('Moniker'),
         url('../Fonts/Moniker-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../Fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../Fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
html {
    background-color: #1F2937;
    padding:  0 100px;
}
body {
    font-family: 'Moniker';
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100vh;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin-left: 27px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    font-size: 36px;
    padding: 16px;
}

.header .logo {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.header .links {
    font-family: 'Moniker';
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
}
.footer{
    color: #F9FAF8;
    font-size: 18px;
    padding: 16px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.copyright {
    display: flex;
    justify-content: center;
    width: 18px;
    border-color: #F9FAF8;
    border: 2px;
    border-radius: 18px;
}

.body {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section1 {
    display: flex;
    flex: auto;
    justify-content: center;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex:auto;
    margin-right: 28px;
}

.info-header{
    font-family: 'Roboto';
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.info {
    font-family: 'Moniker';
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    display: flex;
    background-color: #696b6b;
    font-family: 'Moniker';
    color: #E5E7EB;
    font-size: 16px;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    height: 300px;
    width: 500px;
}

.button {
    padding: 3px 28px;
    margin-top: 12px;
    font-weight: bold;
    font-family: 'Moniker';
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: transparent;
    border-radius: 7px;
}